/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
#logo {
	& > a {
		.subhead {
			display:block;
			font-size:12px;
			float:right;
			/*width:120px;
			line-height:20px;*/
			/* font-size:17px;
			font-weight:normal;
			line-height:16px;
			margin-left:4px;
			margin-top:12px;
			width:180px;*/
		}
	}
}

.nav {
	&.top-nav {
		& > li {
			& > a {
				padding:12px 15px;
				font-size:14px;
			}
		} 
	}
}

.thumb-index {
	.thumb-index-inner {
		& > ul {
			& > li {
				width:19%;
				.item-thumb, img {
					max-width:none;
				}
			}
		}
	}
}