/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html.skinsplex {
	height:100%;
	margin-top:0 !important;
}
body {
	height:100%;
	font-family: $lato;
	font-size:14px;
	line-height: 1.4;
	color: $text-color;
	background-color:#222;
	/* @include css-gradient-3(#222, $black, 0%, #222, 10%, #222, 100%, top); */
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
#container {
	height:100%;
	#content {
		min-height:100%;
		margin-top:-56px;
		margin-top:0;
		margin-bottom:-40px;
		padding:56px 0 40px;
		@include box-sizing;
	}
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	margin: 0 auto;
}
.full-wrap {
	padding:0 10px;
}
#inner-content {
	margin-top:10px;
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;

	/* on hover */
	&:hover {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
.btn {
	@extend %btn;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	@include css-gradient($from: $black, $to: #222, $vstart:"top", $vend:"bottom");
	@include box-sizing;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:2;
	padding:0;
}
#inner-header {
	position:relative;
	border-bottom:1px solid #333;
}
#logo {
	margin:0 0 0 10px;
	text-transform:uppercase;
	font-weight:900;
	float:left;
	/*@include css-gradient(#333,$black,0,0,0,100);*/
	a {
		color: $white;
		display:block;
		height:55px;
		line-height:55px;
		background:url(../images/skinsplex-logo-41x31.png) no-repeat 0 13px;
		padding-left:33px;
		font-size:39px;
		.subhead {
			display:none;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */
	&.top-nav {
		width:100%;
		padding:0 10px;
		position:absolute;
		top:0;
		left:110%;
		z-index:9998;
		background:rgba(0,0,0,.98);
		@include transition(left .35s);
		& > li {
			& > a {
				border-top:1px solid #111;
				border-bottom:1px solid #111;
				margin-top:-1px;
				outline:none;
				font-size:13px;
				text-transform:uppercase;
				padding:12px;
				height:31px;
				line-height:31px;
			}
			&.current-menu-item {
				& > a {
					background-color:rgba(255,255,255,.15);
				}
			}
			&.inactive {
				display:none;
			}
			&.menu-item-search, &.menu-item-login, &.menu-item-logout {
				& > a {
					background-image:url(../images/ic.png);
					background-repeat:no-repeat;
					padding-left:40px;
				}
			}
			&.menu-item-search {
				& > a {
					background-position:0 -282px;
				}
			}
			&.menu-item-login {
				& > a {
					background-position:0 -82px;
				}
			}
			&.menu-item-logout {
				& > a {
					background-position:0 -182px;
				}
			}
		}
	}
} /* end .nav */

nav.active .nav.top-nav {
	left:-10px;
}

.trigger-nav {
	color:#ccc;
	position:absolute;
	padding:12px;
	top:3px;
	right:-10px;
	font-size:17px;
	z-index:9999;
	outline:none !important;
	@include transition(top .275ms);
	&.active {
		@include box-sizing;
	}
	& > span {
		float:left;
		height:24px;
		line-height:24px;
	}
	.ic {
		margin-right:10px;
		@include box-sizing;
		padding-top:5px;
		@include transition(all 275ms);
		& > span {
			background:#ccc;
			@include border-radius(1px);
			display:block;
			height:3px;
			margin-bottom:3px;
			@include transition(all 275ms);
			width:22px;
		}
	}
	&.active {
		.ic {
			@include transform(rotate(-45deg));
			& > span {
				background:#aaa;
				&.bar-1 {
					@include transform(translateY(6px));
				}
				&.bar-2 {
					opacity:0;
				}
				&.bar-3 {
					@include transform(rotate(-90deg) translateX(5px));
				}
			}
		}
	}
}

.top-nav-hidden-form {
	color:#fff;
	position:absolute;
	left:-9999px;
	top:-9999;
	background:rgba(0,0,0,.95);
	padding:10px;
	width:100%;
	@include box-sizing(content-box);
	opacity:0;
	height:0;
	z-index:-1;
	@include transition(opacity 275ms);
	&.active {
		left:-10px;
		top:50px;
		opacity:1;
		height:auto;
		z-index:9998;
	}
	h2 {
		margin:0 0 15px;
		font-size:14px;
		text-transform:uppercase;
		color:#eee;
	}
	.section {
		padding-bottom:15px;
		border-bottom:1px solid #555;
		margin-bottom:10px;
		h2 {
			font-size:20px;
		}
	}
	.status {
		margin-top:0;
		color:#ff0;
		&.error {
			background:rgba(255,0,0,.2);
			color:#f00;
			border:1px dotted #f00;
			padding:5px;
		}
	}
	.alt-links {
		color:#aaa;
		font-size:12px;
		margin-bottom:10px;
		& > span, a {
			display:block;
			float:left;
			padding:10px;
		}
		a {
			padding:10px 0;
			text-decoration:none;
			color:#ccc;
			span {
				border-bottom:1px solid #444;
			}
		}
		&:after {
			@include clearfix;
		}
	}
	input {
		max-width:100%;
		@include box-sizing;
	}
	.btn-close {
		@extend %btn-close;
		float:right;
	}
}


/*********************
OVERLAY & VIDEO STYLES
*********************/
.ov {
	display:none;
}
.vid-player-ov-container, .vid-player-container {
	position:fixed !important;
	width:100% !important;
	height:100% !important;
}
.vid-player-container {
	z-index:-1 !important;
}
.vid-player-ov-container {
	z-index:9999 !important;
	.ui-dialog-titlebar {
		position:absolute;
		right:0;
		top:0;
		z-index:1;
		.ui-dialog-titlebar-close {
			@extend %btn-close;
		}
	}
	.vid-player-container {
		z-index:auto !important;
		background:rgba(0,0,0,.9);
		.video-js {
			margin:0 auto;
			width:100% !important;
			max-width:1280px;
			height:100% !important;
			max-height:720px;
			@include v-center;
			&.vjs-fullscreen {
				@include transform(none);
				top:auto;
				max-width:none;
				max-height:none;
			}
		}
		.hidden {
			visibility:hidden;
			position:absolute;
			z-index:-1;
			overflow:hidden;
		}
	}
}
.vjs-skinsplex-skin {
	font-family:$lato;
	max-width:100%;
	&:hover {
		.vjs-big-play-button {
			box-shadow:none;
			background-color:transparent;
		}
	}
	.vjs-control-bar {
		background-color:rgba(0,0,0,.7);
	}
	.vjs-volume-level, .vjs-play-progress {
		background-color:#f00;
	}
	.vjs-big-play-button {
		@extend %btn-play;
		background:transparent;
		border:0;
		box-shadow:none;
		text-shadow:none;
		width:55px;
		height:55px;
		@include v-center;
		left:50%;
		@include transform(translate(-50%,-50%));
		&:before {
			content:"";
		}
		&:hover {
			box-shadow:0 0 2em #fff;
			background-color:rgba(255,255,255,.1);
			@include transition(all 150ms ease-in-out);
		}
	}
}

/*********************
AD SPACE STYLES
*********************/
.advspcnt {
	margin:0;
	position:relative;
	& > * {
		position:absolute;
		left:0;
		top:0;
		opacity:0;
		z-index:0;
		@include transition(opacity 375ms);
		&.active {
			opacity:1;
			z-index:1;
		}
	}
	& * {
		width:100%;
		height:100%;
		display:block;
	}
	&.r-160x600 {
		display:none;
	}
	&.r-300x100 {
		padding:5px 0;
		margin:10px auto;
		text-align:center;
		width:300px;
		height:100px;
	}
}
.video-wrapper {
	.advspwrap {
		background:rgba(0,0,0,.3);
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}
.hentry {
	background-color: $white;
	border-radius: 3px;
	margin-bottom: 1.5em;
	border: 1px solid $border-color;

	header {
		border-bottom: 1px solid $light-gray;
		padding: 1.5em;
	}

	footer {
		padding: 1.5em;
		border-top: 1px solid $light-gray;

		p {
			margin: 0;
		}
	}

} /* end .hentry */

.single-title,
.page-title,
.entry-title {
	margin: 0;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	time {}
}

/* entry content */
.entry-content {
	padding: 1.5em 1.5em 0;

	p {
		margin: 0 0 1.5em;
	}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}



	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;
		&:before {}
	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	color: $light-gray;
	.copyright {
		font-size:11px;
		color:#555;
		float:right;
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

/******************************************
ADMIN BAR CUSTOMIZATION
******************************************/

html body {
	div#wpadminbar {
		border-bottom:1px solid #444;
		z-index:9999 !important;
		& > .wpadminbar-activator {
			display:block;
			position:absolute;
			left:0;
			bottom:-15px;
			height:15px;
			width:30px;
			text-indent:-9999px;
			@include box-sizing;
			@include css-gradient($from: #222, $to: #111, $vstart:"top", $vend:"bottom");
			@include border-radius(0 0 5px 5px);
			border:1px solid #444;
			border-top:0;
			cursor:pointer;
			&:after {
				content:"";
				border-style:solid;
				border-color:#444 transparent;
				border-width:5px 5px 0;
				position:absolute;
				margin-left:-5px;
				left:50%;
				top:5px;
			}
		}
		&.wpadminbar-shown {
			& > .wpadminbar-activator {
				display:none;
			}
		}
	}
	&.hide-admin-bar {
		div#wpadminbar {
			display:none;
		}
	}
}

/******************************************
PAGE SPECIFIC STYLES
******************************************/
/* Home/Category index pages */
body.page-template-page-custom-index {
	.hentry {
		background:transparent;
		border:0;
		header {
			border:0;
		}
	}
	.entry-content {
		padding:0;
	}
	&.mobile {
		.banner-gallery .banner-heading {
			color:$white !important;
			background:transparent !important;
		}
	}
	.banner-gallery {
		opacity:0;
		@include transition(all 275ms ease-in-out);
		position:relative;
		&.initialized {
			opacity:1;
		}
		.banner-heading {
			left:10%;
			top:10%;
			color:$white;
			margin:0 10px 4px;
			font-size:5px;
			h3, h2, p {
				margin:0;
				line-height:1.3em;
			}
			h3 {
				font-size:2.8em;
				line-height:1em;
			}
			h2 {
				font-size:5.6em;
			}
			p {
				font-size:2.4em;
			}
		}
		& > img {
			width:100%;
			margin:0;
		}
		.navigation {
			@include transition(all 275ms ease-in-out);
			opacity:0;
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			a {
				display:none;
				outline:none;
			}
			.hit-zone {
				text-align:center;
				width:60%;
				height:60%;
				margin:0 auto;
				@include v-center;
				.btn {
					@include v-center;
					span {
						display:none;
					}
				}
			}
			&.banner-active {
				opacity:1;
				background-color:rgba(0,0,0,.5);
				.hit-zone a {
					display:inline-block;
				}
			}
		}
	}
	.thumbnail-gallery {
		margin:0;
		.owl-stage {
			margin:0 auto;
		}
		.owl-controls.inactive {
			display:none;
		}
		.owl-nav {
			margin:8px 0 0;
			border-bottom:1px solid #333;
			border-top:1px solid #333;
			background:rgba(255,255,255,.03);
			padding:0 10px;
			&:after {
				@include clearfix;
			}
			.owl-prev, .owl-next {
				color:#fff;
				font-size:10px;
				text-transform:uppercase;
				height:45px;
				line-height:45px;
				position:relative;
				&:after {
					top:18px;
				}
			}
			.owl-prev {
				padding-left:14px;
				float:left;
				@extend %btn-tri-left;
				&:after {
					position:absolute;
					border-width:4px 10px 4px 0;
					left:0;
				}
			}
			.owl-next {
				padding-right:14px;
				float:right;
				@extend %btn-tri-right;
				&:after {
					position:absolute;
					border-width:4px 0 4px 10px;
					right:0;
				}
			}
		}
		.thumbnail-item {
			&.active {
				a {
					background-color:rgba(255,255,255,.15);
				}
			}
			float:left;
			font-size:12px;
			line-height:15px;
			text-transform:uppercase;
			text-align:center;
			a {
				outline:none;
				display:block;
				width:160px;
				height:160px;
				text-decoration:none;
				padding:5px;
				@include border-radius(3px);
				@include box-sizing;
				@include transition(all 250ms ease-in-out);
				&:hover {
					color:$white;
					background-color:rgba(255,0,0,.3);
				}
			}
			img, .item-title {
				display:block;
			}
			img {
				margin-bottom:10px;
			}
		}
		.hidden-data {
			display:none;
		}
	}
	.advspwrap {
		padding:4px 0;
		border:#333 solid;
		border-width:1px 0;
		margin-bottom:2px;
		.advspcnt.r-728x90 {
			width:728px;
			max-width:100%;
			height:90px;
			margin:0 auto;
		}
	}
}

/* Single Media Item Page */
body.single-media_items {
	color:$white;
	.video-wrapper {
		margin:0 -10px 20px -10px;
		border-bottom:1px solid #333;
		padding-bottom:20px;
	}
	.video-login, .video-controls {
		width:320px;
		margin:0 auto;
		text-align:center;
	}
	.video-login {
		h2 {
			margin:0 0 10px;
			width:320px;
			height:180px;
			background-repeat:no-repeat;
			span {
				display:block;
				height:100%;
				background:rgba(0,0,0,.7);
				padding:60px 25px 0;
				@include box-sizing;
				line-height:32px;
			}
		}
		& > span {
			display:block;
			margin-bottom:8px;
		}
	}
	.video-controls {
		.video-thumb {
			display:inline-block;
			margin-bottom:15px;
			background:$black;
			@extend %btn-play;
			&:before, &:after {
				left:137px;
				top:67px;
				z-index:1;
			}
			img {
				display:block;
				@include transition(all 275ms ease-in-out);
			}
			.sub-head {
				text-transform:uppercase;
				font-size:12px;
				display:block;
				height:20px;
				line-height:20px;
			}
		}
		a.video-thumb:hover {
			img {
				opacity:.7;
			}
		}
		span.video-thumb {
			&:before, &:after {
				opacity:.5;
			}
		}
	}
	.hentry {
		background:transparent;
		&, .entry-header {
			border:0;
		}
		.entry-header, .entry-content {
			padding:0;
		}
		.super-head {
			text-transform:uppercase;
			border:1px dotted #333;
			border-width:0 0 1px;
			margin-top:0;
			font-size:16px;
		}
		h1 {
			font-size:32px;
			line-height:32px;
			margin-bottom:20px;
		}
		.media-item-info {
			border:1px solid #333;
			padding:20px;
			table {
				width:100%;
			}
			td {
				padding:6px 0 6px 20px;
				vertical-align:top;
				&:first-child {
					padding-left:0;
					padding-right:20px;
					border-right:1px solid #333;
					/*min-width:110px;*/
				}
			}
		}
	}
}